html, body {
    margin: 0;
    padding: 0;
}

.main-1 {
    display: flex;
    min-height: 100vh;
}

/*----------------------------------- Left margin -----------------------------------*/

.left-margin {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    width: 60px;
    background-color: rgb(49, 44, 44);
}

.logo-container {
    grid-row: 1; /* Place in the first row */
    height: 5em;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    box-sizing: border-box;
}

.logo {
    align-items: center;
    justify-content: center;
}

.big-P-1 {
    font-size: 2.5em;
    color: rgb(47, 187, 152);
    user-select: none;
    letter-spacing: -0.6em;
}

.big-P-2 {
    font-size: 2.5em;
    color: rgb(180, 45, 45);
    user-select: none;
}

.name {
    font-size: 0.8em;
    color: white;
    user-select: none;
}

.navigation-buttons {
    grid-row: 2; /* Place in the second row */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    display: grid;

    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: repeat(4, 1fr); /* 4 equal rows */
    gap: 3px; /* Space between grid items */
}

.home-button {
    height: 40px; /* Uniform height */
    display: flex; /* Flex to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
}

.social-buttons {
    grid-row: 3; /* Place in the third row */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
}

.twitter-button {
    height: 30px; /* Uniform height */
    display: flex; /* Flex to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
}

/*----------------------------------- Main text -----------------------------------*/

.remaining-container {
    position: relative;
    flex: 1; /* Allow it to take remaining space */
    background-color: lightgray;
    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.hello-text {
    font-size: 5em;
    margin: 0;
    user-select: none;
    padding: 0;
    padding-left: 1.5em;
    padding-top: 0.8em;
}

.hello-text p {
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.big-W-1 {
    letter-spacing: -0.6em;
    color: rgb(47, 187, 152);
    user-select: none;
}

.big-W-2 {
    color: rgb(180, 45, 45);
    user-select: none;
}

.sub-hello-text {
    font-size: 19px;
    padding-top: 20px;
}

.pay-button {
    padding: 14px 60px;
    background-color: transparent;
    color: green;
    text-decoration: none;
    border: 2px solid green;
    border-radius: 5px; /* Rounded corners */
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 3em;
    width: 150px; /* Additional space to the sides of the text */
}

.pay-button:hover {
    background-color: green;
    color: white;
}