html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto; /* Allow scrolling */
}

.main-1 {
    flex: 1;
    display: flex;
    overflow: visible;
}

/* ----------------------------------- Left margin ----------------------------------- */

.left-margin {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60px;
    background-color: rgb(30, 27, 27);
    position: sticky;
    top: 0;
    height: 100vh;
}

.logo-container {
    grid-row: 1;
    height: 5em;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    box-sizing: border-box;
}

.logo {
    align-items: center;
    justify-content: center;
}

.big-S-1 {
    font-size: 2.5em;
    color: rgb(47, 187, 152);
    user-select: none;
    letter-spacing: -0.6em;
}

.big-S-2 {
    font-size: 2.5em;
    color: rgb(180, 45, 45);
    user-select: none;
}

.logo .big-S-1 {
    margin-right: -0.02em;
}

.name {
    font-size: 0.8em;
    color: white;
    user-select: none;
}

.navigation-buttons {
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.navigation-button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.navigation-button:hover .navigation-image {
    opacity: 0;
}

.navigation-button .name {
    opacity: 0;
    color: white;
    transition: opacity 0.3s ease;
    position: absolute;
}

.navigation-button:hover .name {
    opacity: 1;
}

.navigation-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-buttons {
    grid-row: 3;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.small-button-with-image {
    height: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
}

.image-of-small-button {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.git-button:hover .image-of-small-button {
    content: url('./resources/git2.png');
}

.twt-button:hover .image-of-small-button {
    content: url('./resources/twt2.png');
}

.lnk-button:hover .image-of-small-button {
    content: url('./resources/lnk2.png');
}

/* ----------------------------------- Remaining space ----------------------------------- */
.remaining-space {
    flex: 1;
    background-color: rgb(53, 49, 49);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto; /* Allow vertical scrolling */
    padding-bottom: 20px;
}

.main-header {
    font-size: 5em;
    letter-spacing: 0.04em;
    color: rgb(21, 21, 21);
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    color: white;
}

.projects h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: rgb(137, 129, 131);
}

.projects ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.projects li {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0.5em;
    max-width: 500px; /* Set the max width to control when the text breaks */
    word-wrap: break-word; /* Allow the text to wrap within the max width */
}

/* ----------------------------------- Footer ----------------------------------- */
.footer {
    background-color: rgb(30, 27, 27);
    color: white;
    text-align: center;
    padding: 0.6em 0;
    font-size: 0.9em;
    width: 100%;
    z-index: 10;
}

.footer p {
    margin: 0;
}

/* ----------------------------------- Media ----------------------------------- */
@media (min-width: 1200px) {
    .uj-logo {
        visibility: visible;
    }
}